@model IEnumerable<SmartLog.Application.DTOs.LogDTO>

@{
    ViewData["Title"] = "SmartLog - Dashboard";
}
<title>@ViewData["Title"]</title>

<link href="~/css/Dashboard/Dashboard.css" rel="stylesheet" type="text/css" />
<link href="~/css/Dashboard/Table.css" rel="stylesheet" type="text/css" />

<div class="content">
    <h1 class="content-title">SmartLog - Dashboard</h1>
    
    <div class="content-data">

        <div class="content-data-graphs">
            <div class="graphs high graphs-text">
                <label class="level-text">5 logs</label>
            </div>
            <div class="graphs mid graphs-text">
                <label class="level-text">3 logs</label>
            </div>
            <div class="graphs low graphs-text">
                <label class="level-text">1 log</label>
            </div>
        </div>

        <div class="content-data-table">
            <table id="logs">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Level)</th>
                <th>@Html.DisplayNameFor(model => model.Date)</th>
                <th>@Html.DisplayNameFor(model => model.Message)</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Level)</td>
                    <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    <td>@Html.DisplayFor(modelItem => item.Message)</td>
                </tr>
            }
            </table>
        </div>

    </div>
</div>