@model SmartLog.UI.Models.DashboardViewModel
@using SmartLog.Domain.Enum
@{
    ViewData["Title"] = "SmartLog - Dashboard";
}
<title>@ViewData["Title"]</title>

<link href="~/css/Dashboard/Dashboard.css" rel="stylesheet" type="text/css" />
<link href="~/css/Dashboard/Table.css" rel="stylesheet" type="text/css" />

<div class="content">
    <h1 class="content-title">SmartLog - Dashboard</h1>
    
    <div class="content-data">

        <div class="content-data-graphs">
            <div class="graphs high graphs-text">
                <label class="level-text">@Model.Counters.High Logs</label>
            </div>
            <div class="graphs mid graphs-text">
                <label class="level-text">@Model.Counters.Mid Logs</label>
            </div>
            <div class="graphs low graphs-text">
                <label class="level-text">@Model.Counters.Low Logs</label>
            </div>
        </div>

        <div class="content-data-table">
            <table id="logs">
            <tr>
                <th>Level</th>
                <th>Date</th>
                <th>Message</th>
            </tr>
            @foreach (var item in Model.Log)
            {
                <tr>
                    <td class="graphs-min-col ">
                        @if(item.Level == Level.High){
                            <div class="graphs-min high"></div>
                        }
                        @if(item.Level == Level.Middle){
                            <div class="graphs-min mid"></div>
                        }
                        @if(item.Level == Level.Low){
                            <div class="graphs-min low"></div>
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    <td>@Html.DisplayFor(modelItem => item.Message)</td>
                </tr>
            }
            </table>
        </div>

    </div>
</div>